@font-face {
  font-family: 'HelveticaNeue';
  src: url('./fonts/HelveticaNeue-Regular.otf') format('opentype');
}

.App {
  text-align: center;
  background-color: #282c34;
  font-family: 'HelveticaNeue';
}

.App-link {
  color: #61dafb;
}

.root-select-label {
  margin-left: 2em;
  margin-right: 0.3em;
  color: #61dafb;
}

.graph-2d {
  display: none;
}

.tabs {
  background-color: #282c34;
  color: #61dafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.tablinks {
  background-color: #282c34;
  color: #61dafa;
  margin-right: 0.25em;
  margin-left: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-color: #61dafa;
  border-width: 1px;
  border: solid;
}

.navbar {
  background-color: #282c34;
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.proj-info {
  font-size: 1em;
  font-weight: bold;
  color: #61dafa;
  padding-top: 0.5em;
}

.team {
  margin-top: 0.5em;
  font-size: 1em;
}

.legend-label {
  margin-left: 2em;
  text-decoration: underline dotted;
}

.legend-tooltip {
  z-index: 2;
}

.red-text {
  color: #ff0000;
}

.green-text {
  color: #228b22;
}

.gray-text {
  color: #3a3b3c;
}

.fuchsia-text {
  color: fuchsia;
}

.cyan-text {
  color: cyan;
}
